<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <b>Datos de mis familiares:</b>
    <br>
    Nombre: {{ datos_hermano.nombre }}
    <br>
    Apellido: {{ datos_hermano.apellido }}
    <br>
    Parentesco: {{ datos_hermano.parentesco }}
    <br>
    Edad: {{ datos_hermano.edad }}
    <br>
    Celular: {{ datos_hermano.celular }}
    <br>
    <br>
    <br>
    <b>Esta consulta fue ejecutada: {{ datos_hermano.horario_consulta}}</b>
</body>
</html>